NEXT_PUBLIC_APPWRITE_BUCKET=[your-bucket-id]
NEXT_PUBLIC_APPWRITE_PROJECT=[your-project-id]
NEXT_PUBLIC_APPWRITE_ENDPOINT=[your-endpoint]
APPWRITE_DATABASE=[your-database]
APPWRITE_USERS_COLLECTION=[your-users-collection]
APPWRITE_FILES_COLLECTION=[your-files-collection]
APPWRITE_KEY=[your-api-key]
